
<form ng-submit="changeMyName()" id="form-name">
    <strong>User name :</strong>
    <input type="text" ng-model="me.name" ng-blur="changeMyName()">
    <button type="submit" ng-hide="true"></button>
</form>
<hr/>

<a href="" ng-click="leaveGame()">< LEAVE THE GAME</a>
<hr/>

<div ng-show="loading">
    LOADING...
</div>

<div ng-hide="loading">

    <h4>PLAYERS ({{nb_online}})</h4>
    <ul>
        <li ng-repeat="player in players">{{player.name}}</li>
    </ul>

    <h4>Tracklist</h4>
    <ol>
        <li ng-repeat="song in songs">
            {{song.song_artist}} - {{song.song_name}}
        </li>
    </ol>
    
</div>


