<p class="top-page">
    You are identified as <strong>{{me.name}}</strong>
    <a href="" class="btn btn-sm" ng-click="toggle_name_form()">Edit</a>
</p>
<form class="form-inline" id="form-name" ng-submit="change_name()" role="form">
    <div class="form-group">
        <label>Choose your name :</label>
        <input type="text" class="form-control" ng-model="me.name">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" ng-click="toggle_name_form()">Cancel</button>
</form>

<div ng-show="loading">
    LOADING...
</div>

<div ng-hide="loading">

    <form class="guess-song row" role="form" ng-submit="guess_song()">

        <div class="col-xs-10">
            <div class="input-group">
                <input class="form-control input-lg" type="text" id="my-guess" placeholder="Type here the song's name or artist"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-lg btn-primary" ng-disabled="blockAnswer">Guess!</button>
                </span>
            </div>
            <div id="guess-results"></div>
        </div>
        <div class="col-xs-2">
            <div class="guessed" id="guessed-artist" title="You found the artist !"><i class="glyphicon glyphicon-music"></i></div>
            <div class="guessed" id="guessed-name" title="You found the name of this song !"><i class="glyphicon glyphicon-user"></i></div>
        </div>

    </form>

    <div class="row">
        
        <div class="col-md-3">

            <ul id="notifications"></ul>

        </div>
        <div class="col-md-5">
            
            <div id="jquery_jplayer"></div>
            <div style="width:100%; height:10px; background: #e3f2f4; border-radius: 3px; margin-bottom: 10px">
                <div id="track-progress" style="float:left;height:10px;background:#568c95; border-radius: 3px"></div>
            </div>
            <!-- <div ng-show="preload"><em>Preloading: {{preload}}</em></div> -->

            <div id="nb-songs" ng-show="nb_songs">
                {{nb_songs}}
            </div>

            <div id="please-wait" ng-hide="nb_songs">
                Please wait a few seconds...
            </div>
            
            <ul class="tracklist">
                <li ng-repeat="song in songs">
                    <img src="{{song.song_cover}}" alt="" width="50">
                    <strong>{{song.song_artist}}</strong>
                    {{song.song_name}}
                </li>
            </ul>

        </div>
        <div class="col-md-4">
                
            <div id="game-players">
                <h4>Players</h4>
                <ul>
                    <li ng-repeat="(id, player) in players | orderBy:position" ng-class="{is_me: id==socket_id}">
                        <div class="row">
                            <div class="position col-xs-2">
                                <span ng-show="player.position">{{player.position}}</span>
                            </div>
                            <div class="name col-xs-8">
                                {{player.name}}
                            </div>
                            <div class="score col-xs-2">
                                {{player.score}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>

    </div>


    
</div>


