<div class="header">
    {{nb_online}} currently playing -
    you are identified as <strong>{{me.name}}</strong>
    <a href="#" class="btn btn-sm" ng-click="toggle_name_form()">Edit</a>
</div>
<form class="form-inline" id="form-name" ng-submit="change_name()" role="form">
    <div class="form-group">
        <label>Choose your name :</label>
        <input type="text" class="form-control" ng-model="me.name">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" ng-click="toggle_name_form()">Cancel</button>
</form>

<a href="" ng-click="leave_game()">< LEAVE THE GAME</a>

<div ng-show="loading">
    LOADING...
</div>

<div ng-hide="loading">

    <form class="guess-song row" role="form" ng-submit="guess_song()">

        <div class="col-xs-9">
            <input class="form-control input-lg" type="text" id="my-guess" placeholder="Type here the song's name or artist"/>
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Give a guess</button>
        </div>

        <div id="guess-results"></div>
    </form>

    <div class="row">
        
        <div class="col-md-3">

            <ul id="notifications"></ul>

        </div>
        <div class="col-md-6">
            
            <div ng-show="preload"><em>Preloading: {{preload}}</em></div>
            <div id="jquery_jplayer"></div>
            <div style="width:100%; height:20px; background: #eee">
                <div id="track-progress" style="float:left;height:20px;background:#c00"></div>
            </div>

            <ul class="tracklist">
                <li ng-repeat="song in songs">
                    <img src="{{song.song_cover}}" alt="" width="50">
                    <strong>{{song.song_artist}}</strong>
                    {{song.song_name}}
                </li>
            </ul>

        </div>
        <div class="col-md-3">
            
            <h4>Positions</h4>
            <ul class="game-players">
                <li ng-repeat="player in players">
                    <div class="score">{{player.score}}</div>
                    {{player.name}}
                </li>
            </ul>
            
        </div>

    </div>


    
</div>


