extends layout

block content
  h1!= 'Theme: ' + theme.name
  button(onclick="location.href='/play/"+theme.slug+"'") Join a game !
  a(href='/') < Back

  h2 Tracklist
  ol
    each song in theme.theme_songs
      li= song.song_name + ' - ' + song.song_artist
