extends layout

block content
  h1 Welcome to Songz
  p Pick a music theme
  ul
    li: a(href='/games/53342101f3d774214b4552da') Rap & Hip hop
    li: a(href='/games/53342101f3d774214b4552d7') Top 500
    li: a(href='/games/53342101f3d774214b4552db') Rap FR
    //- each theme in themes
      //- li: a(href='/games/'+theme.slug)= theme.name
  p: a(href='/play') Go Play!
