body {
	background-color: #75bdc9;
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 30px 0;
}
ul {
	text-align: left;
	padding-left: 0;
}
ul li {
	list-style: none;
}

#app {
}

.top-page {
	color: #e3f2f4;
}

footer {
	padding-top: 60px;
}

form.pick-theme {
	padding: 80px 0 40px;
}

/* PLAY THE GAME */
ul.tracklist li {
	line-height: 1;
	clear: left;
	padding-top: 14px;
}
ul.tracklist strong {
	display: block;
	padding: 5px 0;
}
ul.tracklist img {
	float: left;
	margin-right: 10px;
}
#game-players h4 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.4em;
	padding-bottom: .3em;
}
#game-players .is_me .name {
	font-weight: 500;
	font-style: italic;
}
#game-players li {
	padding-bottom: .4em;
}
#game-players ul .score {
	text-align: center;
}
#game-players ul .position {
	text-align: right;
}
#game-players ul .position span {
	background: #568c95;
	color: #fff;
	font-size: .9em;
	font-weight: 500;
	padding: .1em .4em;
	border-radius: 2px;
}
form.guess-song {
	padding: 40px 0 30px;
}
#notifications {
	font-size: .9em;
	line-height: 1.1;
}
#notifications li {
	padding-bottom: .6em;
	padding-left: 36px;
	position: relative;
}
#notifications .date {
	position: absolute;
	top: 0;
	left: 0;
	font-size: .9em;
	color: #e3f2f4;
}
.guessed {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 6px 12px 0;
	font-size: 2em;
	opacity: .4;
	color: #fff;
}
.guessed.active {
	opacity: 1;
	color: #568c95;
}
#guess-results {
	height: 2em;
	font-size: .9em;
	font-weight: bold;
	color: #568c95;
	padding-top: .2em;
	text-align: left;
}
#nb-songs {
	padding-bottom: 5px;
	font-size: .9em;
}

/* RESULTS PAGE */
#game-results h4 {
	padding: 50px 0 20px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.5em;
}
#game-results ul {
	text-align: center;
	margin-bottom: 50px;
	font-size: 1.2em;
}